.page-header {
border-bottom: 1px solid $border-header-color ;
position: relative;
}
  
    /* MAIN NAV (page-header__nav)*/
.page-header__nav {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
@media screen and (min-width: 768px){
justify-content: flex-start;
}
}
     /* КНОПКА МЕНЮ МІБІЛЬНОГО ТЕЛ*/
.menu-btn{
display: inline-flex;
margin: 0;
padding: 12px 8px;
border: none;
background-color: transparent;
margin-top: 10px;
margin-bottom: 10px;
z-index: 2;
&__close,
&__menu{
fill: $title-text-color;
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: var(--timing-function);
} 
&__menu:hover, :focus{
fill: $prymary-accent-color;
}
&__close:hover, :focus{
fill: $prymary-accent-color;
}
       
@media screen and (min-width: 768px) {
display: none;
} 
}
    

.menu-btn .menu-btn__close{
display: none;
}
.menu-btn.is-open .menu-btn__close{
display: block;
}
.menu-btn.is-open .menu-btn__menu{
display: none;
}
    /* ВИПАДАЮЧЕ МЕНЮ МІБІЛЬНОГО ТЕЛ*/
.menu-container{
    background-color: $head-title-color;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    &.is-open{
    display: block;
    z-index: 1;
    }
    } 
    @media screen and (min-width: 768px) {
    display: flex;
    padding: 0;
    align-items: center;
    }     
    }

.navigation, .contacts{
height: 100%;
width: 100%;    
}

    /* SITE-NAV*/
    
.site-nav__list {
@extend%list;
padding-bottom: 306px;
@media screen and (min-width: 768px) {
display: flex;
padding-bottom: 0;
margin-left: 88px;
margin-right: 90px;
} 
@media screen and (min-width: 1200px) {
margin-left: 93px;
margin-right: 305px;
}  
}  
    
.site-nav__item{
margin-bottom: 32px;
&:last-child{
margin-bottom: 0;
}
@media screen and (min-width: 768px) {
margin-bottom: 0;
margin-right: 53px;
&:last-child{
margin-right: 0;
}
} 
}

.site-nav__link {
display: block;
text-align: start; 
font-family: $font-family;
text-decoration: none;
color: $title-text-color;
font-weight: 500;
font-size: 40px;
line-height: 1.18;
letter-spacing: 0.02em;
@include transition();
&:hover, 
&:focus {
color: $prymary-accent-color;
}
&--current{
color: $prymary-accent-color; 
}
&--current {
position: relative;
color: $prymary-accent-color;
}
@media screen and (min-width: 768px){
font-size: 14px;
line-height: 1.14;
padding-top: 32px; 
padding-bottom: 32px;
}
}
    
.site-nav__link--current::after{
display: none;
position: absolute;
bottom: 0;
left: 0;
content: "";
width: 100%;
height: 4px;
border-radius: 2px;
background-color: $prymary-accent-color;
@media screen and (min-width: 768px){
display: block;
}
}

    /* AUTH-NAV */
.auth-nav__list {
@extend %list;

@media screen and (min-width: 768px){
display: flex;
flex-direction: column-reverse; 
}
@media screen and (min-width: 1200px){
flex-direction: row;
}
}


.auth-nav__item{
margin-bottom: 32px;
&:last-child{
margin-bottom: 64px;
}
 @media screen and (min-width: 768px){
margin-bottom: 0px;
display: flex;
&:last-child{
margin-bottom: 10px;
}   
}
@media screen and (min-width: 1200px){
&:last-child{
margin-bottom: 0px;
}    
}
}
    
    .auth-nav__link--tel{
    text-decoration: none;
    color: $prymary-accent-color;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    @media screen and (min-width: 768px){
    color: $primary-text-color;
    font-size: 12px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    }
    @media screen and (min-width: 1200px){
    margin-right: 40px;
    font-size: 14px;
    line-height: 1.14;
    transition-property: fill;
   @include transition();
    &:hover,
    &:focus {
    color: $prymary-accent-color;
    fill: $prymary-accent-color;
    }}
    }
    .auth-nav__link--mail{
    text-decoration: none;
    color: $primary-text-color;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    @media screen and (min-width: 768px){
    color: $primary-text-color;
    font-size: 12px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    }
    @media screen and (min-width: 1200px){
    font-size: 14px;
    line-height: 1.14;
    transition-property: fill;
    @include transition();
    &:hover,
    &:focus {
    color: $prymary-accent-color;
    fill: $prymary-accent-color;
    }}
    }

    .auth-nav__icon{
    @media screen and (max-width: 767px) {
    display: none;
    } 
    @media screen and (min-width: 768px) {
    margin-right: 8px;
    } 
    @media screen and (min-width: 1200px){   
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);  
    }
    }
   /* SOC-NAV */
    .soc-nav__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
    display: none;
    } 
    }
    .soc-nav__item{
    text-decoration: none;
    margin-right: 20px;
    &:last-child{
    margin-right: 0;
    }
    }
    .soc-nav__link{
    text-decoration: none;
    color: $prymary-accent-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    }
    