
.section-team{
padding-top: 60px;
padding-bottom: 60px;
background-color: $secondary-bg-color;
outline: 1px solid green;
@media screen and (min-width: 1200px) {
padding-top: 94px;
padding-bottom: 94px;
}
}

.section-team__list {
    @extend %list;
    background-color: $secondary-bg-color;
    }
.section-team__title {
    margin-top: 0;
    margin-bottom: 30px;
    color:$title-text-color ;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
    }
    }
  
    .team-list__list{
    @extend %list;
    display: block;
    }
    @media screen and (min-width: 768px) {
    .team-list__list{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    }
    } 
    @media screen and (min-width: 1200px) {
    .team-list__list{
    display: flex;
    align-items: center;
    margin: -15px;
    }
    } 

    .team-list__item{
      width: 100%;
      margin-bottom: 30px;
      &:nth-child(4n){
        margin-bottom: 0;
      }
      background-color: $primary-bg-color;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;

      @media screen and (min-width: 768px) {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
        &:nth-child(4n){
          margin-bottom: 15px;
        }
        } 
     @media screen and (min-width: 1200px) {
        width: calc((100% - 8 * 15px) / 4);
        margin: 15px;
        } 
      }
   
    .team-list__label{
    display: block;
    width: 100%;
    }
 

    .team-list__wrapper {
    padding: 30px 0;
    text-align: center;
    }
    .team-list__title {
    margin-top: 0;
    margin-bottom: 10px;
    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    }
    .team-list__text {
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.19;
    }
    
    .socials-list__list{
    @include centeredflex();
    @extend %list;
    }
    
    .socials-list__link{
        margin-right: 10px;
        &:nth-last-child(1){
            margin-right: 0;
        }

    }
    
    .socials-list__icon{
    @include centeredflex();
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: $clients-logo-color;
    background-color: $primary-bg-color;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
    &:hover,
    &:focus{
    background-color: $prymary-accent-color;
    fill: $primary-bg-color;
    }
    }
    