/* ПОРТФОЛІО */
.section-portfolio{
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px){
     padding-top: 94px;
    padding-bottom: 94px;   
    }
}
.portfolio-filters__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    max-width: 336px;
    margin-left: -8px;
    @media screen and (min-width: 768px) {
    max-width: 100%;
    margin-left: 0;
    justify-content: center;
    margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px){
    margin-bottom: 34px;
    }
    }
    .portfolio-filters__item{
    margin-left: 8px;
    margin-bottom: 15px;
    &:nth-last-child(-n + 2) {
    margin-bottom: 0; 
    }
    @media screen and (min-width: 768px) {
    margin-bottom: 0;
    &:first-child{
    margin-left: 0;
    }
    }
    }
    
    /* кнопки */
    .portfolio-filters__button {
    padding: 6px 22px;
    min-width: 100%;
    color:$title-text-color;
    background-color: $secondary-bg-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-align: center;
    &:hover,
    &:focus {
    background-color:$prymary-accent-color;
    color:$head-title-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    }
   
    /* наші роботи */
    .card-set__list{
    @extend %list;
    padding-top: 40px;
    @media screen and (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
    margin: -15px;    
    }
    }

    .card-set__link{
        display: block;
        text-decoration: none;
        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: var(--timing-function);
        &:hover,
        &:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
        0px 4px 4px rgba(0, 0, 0, 0.06), 
        1px 4px 6px rgba(0, 0, 0, 0.16);
    } 
    }

        
    .product-thumb{
    position: relative;
    overflow: hidden;
        
    }
    .product-thumb__overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 63px 24px;
        font-size: 18px;
        line-height: 1.56;
        color: $head-title-color;
        background-color:$background-overlay-color;
        transform: translateY(100%);
        transition-duration: 250ms;
        transition-timing-function: var(--timing-function);
    }
    
    .card-set__link:hover .product-thumb__overlay,
    .card-set__link:focus .product-thumb__overlay{
        transform: translateY(0);
    }
    .card-set__item{
    width: 100%;
    margin-bottom: 30px;
    @media screen and (min-width: 768px){
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
    &:last-child{
    margin-bottom: 0;
    }
    &:nth-child(1){
    .product-thumb__meta{
    padding-bottom: 56px;
    }
    } 
    }
    @media screen and (min-width: 1200px){
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
    &:nth-child(1){
    .product-thumb__meta{
    padding-bottom: 20px;
    }
    }      
    }
}
    .product-thumb__item{
    display: block;
    width: 100%;
    }
   
    
    
    .product-thumb__meta {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid $bottom-border-card-color;
    border-right: 1px solid $bottom-border-card-color;
    border-left: 1px solid $bottom-border-card-color;  
    }

    .product-thumb__title {
    margin-top: 0;
    margin-bottom: 4px;
    color: $title-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    }
    .product-thumb__text {
    margin-top: 0;
    margin-bottom: 0;
    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.88;
    }