$primary-text-color: #757575;
$title-text-color:#212121;
$head-title-color:#FFFFFF;
$primary-bg-color:#FFFFFF;
$prymary-accent-color:#2196F3;
$secondary-bg-color:#F5F4FA;
$hero-bg-color:#2F303A;
$primary-logo-color:#000000;
$secondary-link-color: rgba(255, 255, 255, 0.6);
$button-bgc-hover-color: #188CE8;
$bottom-border-card-color: #EEEEEE;
$border-header-color: #ececec;
$clients-logo-color:#AFB1B8;
$background-overlay-color: rgba(33, 150, 243, 0.9);

$font-family: "Roboto", "Sans-serif";

